Repository abcxyz/access-on-demand, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abcxyz/breakglass, @abcxyz/infrastructure-team, @abcxyz/go-readability, @abcxyz/terraform-readability

.github/CODEOWNERS:

# Default fallback
*    @abcxyz/breakglass

# products owns all files
*    @abcxyz/infrastructure-team

# Go readability
*.go    @abcxyz/go-readability

# Terraform readability
*.tf    @abcxyz/terraform-readability

fix: fail while unmarshal request with unknown fields (#143)
  pkg/requestutil/request.go
  pkg/requestutil/request_test.go
Owners: @abcxyz/go-readability

refactor: remove tool base command (#142)
  pkg/cli/tool_base.go
  pkg/cli/tool_do.go
  pkg/cli/tool_do_test.go
Owners: @abcxyz/go-readability

chore: show error and output in both pr comments and terminal
  .github/workflows/cleanup.yml
  .github/workflows/handle.yml
Owners: @abcxyz/infrastructure-team

chore: show error and output in both pr comments and terminal (#146)
  .github/workflows/cleanup.yml
  .github/workflows/handle.yml
Owners: @abcxyz/infrastructure-team

fix go lint errors
  pkg/handler/iam_handler.go
  pkg/handler/iam_handler_test.go
  test/integration/main_test.go
Owners: @abcxyz/go-readability

fix go lint errors (#151)
  pkg/handler/iam_handler.go
  pkg/handler/iam_handler_test.go
  test/integration/main_test.go
Owners: @abcxyz/go-readability

chore: clarify PR expiry and IAM request expiry
  .github/workflows/note.yml
  pkg/cli/iam_handle.go
  pkg/cli/iam_handle_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

chore: clarify PR expiry and IAM request expiry (#152)
  .github/workflows/note.yml
  pkg/cli/iam_handle.go
  pkg/cli/iam_handle_test.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

chore: update wif
  .github/workflows/ci.yml
Owners: @abcxyz/infrastructure-team

chore: update wif (#153)
  .github/workflows/ci.yml
Owners: @abcxyz/infrastructure-team

feat: add breakglass capabilities
  .github/workflows/handle.yml
  .github/workflows/note.yml
Owners: @abcxyz/infrastructure-team

feat: add breakglass capabilities (#154)
  .github/workflows/handle.yml
  .github/workflows/note.yml
Owners: @abcxyz/infrastructure-team

fix: update note logic
  .github/workflows/note.yml
Owners: @abcxyz/infrastructure-team

fix: update note logic (#155)
  .github/workflows/note.yml
Owners: @abcxyz/infrastructure-team

fix: use pr updated_at for breakglass
  .github/workflows/handle.yml
  .github/workflows/note.yml
Owners: @abcxyz/infrastructure-team

fix: use pr updated_at for breakglass (#156)
  .github/workflows/handle.yml
  .github/workflows/note.yml
Owners: @abcxyz/infrastructure-team

chore: ratchet upgrade
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/expire.yml
  .github/workflows/handle.yml
  .github/workflows/note.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Owners: @abcxyz/infrastructure-team

chore: ratchet upgrade (#158)
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/expire.yml
  .github/workflows/handle.yml
  .github/workflows/note.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Owners: @abcxyz/infrastructure-team

fix: cleanup for breakglass
  .github/workflows/cleanup.yml
Owners: @abcxyz/infrastructure-team

merge
  .github/workflows/cleanup.yml
  .github/workflows/note.yml
Owners: @abcxyz/infrastructure-team

fix: cleanup for breakglass (#157)
  .github/workflows/cleanup.yml
  .github/workflows/note.yml
Owners: @abcxyz/infrastructure-team

fix: syntax issues with setup-binary
  .github/workflows/handle.yml
  .github/workflows/validate.yml
Owners: @abcxyz/infrastructure-team

fix: syntax issues with setup-binary (#159)
  .github/workflows/handle.yml
  .github/workflows/validate.yml
Owners: @abcxyz/infrastructure-team

feat: minty v2 config
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

feat: minty v2 config (#161)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

chore: update minty config to use issuers variable
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

chore: update minty config to use issuers variable (#162)
  .github/minty.yaml
Owners: @abcxyz/infrastructure-team

Fix envconfig syntax
  test/integration/config.go
Owners: @abcxyz/go-readability

Update all deps
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/handle.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Fix envconfig syntax (#165)
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/handle.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  go.mod
  go.sum
  test/integration/config.go
Owners: @abcxyz/infrastructure-team, @abcxyz/go-readability

Remove shadowed loop variables
  apis/v1alpha1/validation_test.go
  pkg/cli/iam_cleanup_test.go
  pkg/cli/iam_handle_test.go
  pkg/cli/iam_validate_test.go
  pkg/cli/tool_do_test.go
  pkg/cli/tool_validate_test.go
  pkg/handler/iam_handler_test.go
  pkg/handler/tool_handler_test.go
  pkg/requestutil/request_test.go
  test/integration/main_test.go
Owners: @abcxyz/go-readability

Remove shadowed loop variables (#164)
  apis/v1alpha1/validation_test.go
  pkg/cli/iam_cleanup_test.go
  pkg/cli/iam_handle_test.go
  pkg/cli/iam_validate_test.go
  pkg/cli/tool_do_test.go
  pkg/cli/tool_validate_test.go
  pkg/handler/iam_handler_test.go
  pkg/handler/tool_handler_test.go
  pkg/requestutil/request_test.go
  test/integration/main_test.go
Owners: @abcxyz/go-readability

Update to Go 1.24 and all deps
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Update to Go 1.24 and all deps (#166)
  go.mod
  go.sum
Owners: @abcxyz/infrastructure-team

Fix linting errors
  pkg/cli/iam_cleanup_test.go
  pkg/cli/iam_handle_test.go
  pkg/cli/iam_validate_test.go
  pkg/cli/tool_do_test.go
  pkg/cli/tool_validate_test.go
  pkg/handler/iam_handler_test.go
  pkg/handler/tool_handler_test.go
  test/integration/main_test.go
Owners: @abcxyz/go-readability

Fix linting errors (#169)
  pkg/cli/iam_cleanup_test.go
  pkg/cli/iam_handle_test.go
  pkg/cli/iam_validate_test.go
  pkg/cli/tool_do_test.go
  pkg/cli/tool_validate_test.go
  pkg/handler/iam_handler_test.go
  pkg/handler/tool_handler_test.go
  test/integration/main_test.go
Owners: @abcxyz/go-readability

Fix dead context in cleanup function
  test/integration/main_test.go
Owners: @abcxyz/go-readability

Fix dead context in cleanup function (#170)
  test/integration/main_test.go
Owners: @abcxyz/go-readability

ratchet pin v1.4 setup binary
  .github/workflows/validate.yml
Owners: @abcxyz/infrastructure-team

others'
  .github/workflows/cleanup.yml
  .github/workflows/handle.yml
Owners: @abcxyz/infrastructure-team
